################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

# .NET Core
bin/
obj/

# Visual Studio Code
.vscode/

# Build results
[Dd]ebug/
[Rr]elease/
x64/
build/
[Bb]in/
[Oo]bj/
/.vs
/DaXiong.Tools/.vs/DaXiong.Tools/v16
/DaXiong.Tools/.vs/DaXiong.Tools/DesignTimeBuild
/DaXiong.Tools/.vs/DaXiong.Tools/FileContentIndex
/DaXiong.Tools/.vs/DaXiong.Tools/v17
